@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://rsms.me/inter/inter.css');


:root {
    --scrollbar-base: #f2f3f5;
    --scrollbar-thumb: #d8dadf;
}

html.dark {
    --scrollbar-base: rgb(57, 72, 86);
    --scrollbar-thumb: #5e646e;
}

html {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

body {
    font-feature-settings: "salt"
}

.editor {
    background-image: url("./assets/bg.svg");
}

.editor-wrapper {
    max-height: calc(100vh - 4rem);
    overflow-y: auto;
overflow-x: hidden;
}

.notelist {
    height: calc(100vh - 6rem);
}

/*.ql-container.ql-snow {*/
/*    border: none;*/
/*    height: calc(100vh - 14rem);*/
/*    overflow-y: scroll;*/
/*}*/

/** {*/
/*    scrollbar-width: none; !* Firefox *!*/
/*    -ms-overflow-style: none; !* Internet Explorer 10+ *!*/
/*}*/

/**::-webkit-scrollbar { !* WebKit *!*/
/*    width: 0;*/
/*    height: 0;*/
/*}*/

#registerTip{
    padding: 5px !important;
}
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-base);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--scrollbar-base);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 6px;
    border: 2px solid transparent
}

.bubble-menu {
    display: flex;
    @apply bg-black dark:bg-gray-600;
    padding: 0.2rem;
    border-radius: 0.5rem;
}
.bubble-menu button {
    border: none;
    background: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    padding: 0 0.5rem;
    opacity: 0.6;
}
.bubble-menu button:hover, .bubble-menu button.is-active {
    opacity: 1;
}

.ProseMirror p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}

ul[data-type="taskList"] {
    list-style: none;
    padding: 0;
}
ul[data-type="taskList"] p {
    margin: 0;
}
ul[data-type="taskList"] li {
    display: flex;
}
ul[data-type="taskList"] li > label {
    flex: 0 0 auto;
    margin-right: 0.5rem;
    user-select: none;
}
ul[data-type="taskList"] li > div {
    flex: 1 1 auto;
}

.z{
    z-index: 1500 !important;
}
.sidebar-item{
    @apply hover:bg-gray-800
}
